@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin centerWithTranslate {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

@mixin respond-phone {
    @media (max-width: 37.5em) { @content }; //600px
}

@mixin respond-tablet-portrait {
    @media (max-width: 56.25em) { @content }; //900px
}

@mixin respond-tablet-landscape {
    @media (max-width: 75em) { @content }; //1200px
}

@mixin respond-big-desktop {
    @media (min-width: 112.5em) { @content }; //1800px
}

@mixin respond($breakpoint) {
    @if $breakpoint == $mq-phone {
        @include respond-phone { @content };
    } @else if $breakpoint == $mq-tablet-portrait {
        @include respond-tablet-portrait { @content };
    } @else if $breakpoint == $mq-tablet-landscape {
        @include respond-tablet-landscape { @content };
    } @else if $breakpoint == $mq-big-desktop {
        @include respond-big-desktop { @content };
    }
}