.composition {
    position: relative;


    &__photo {
        width: 55%;
        box-shadow: $shadow-small;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        
        transition: all .2s;
        outline-offset: 2rem;

        @include respond($mq-tablet-portrait) {
            float: left;
            position: relative;
            width: 30%;
            
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &--pic1 {
            left: 0;
            top: 2rem;

            @include respond($mq-tablet-portrait) {
                top: 0;
            }
        }
    
        &--pic2 {
            right: 0 ;
            top: 4.5rem;

            @include respond($mq-tablet-portrait) {
                top: 0;
            }
            
        }
    
        &--pic3 {
            left: 20%;
            top: 10rem;

            @include respond($mq-tablet-portrait) {
                top: 0;
                left: 0;
            }
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.9);
    }







    
    
}