*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    //Define que es 1rem = 10px
    font-size: 67%;

    @include respond($mq-big-desktop) {
        font-size: 75%; //1rem = 12px;
    }

    @include respond($mq-tablet-landscape) {
        font-size: 56.25%; //1rem = 9px;
    }

    @include respond($mq-tablet-portrait) {
        font-size: 50%; //1rem = 8px;
    }

    @include respond($mq-phone) {
        font-size: 30%; //1rem = 4.8px;
    }



}

body {
    box-sizing: border-box;
}
